@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main: #68267C;
  --gray: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 300;
  }
  
a {
    text-decoration: none;
    color: black;
  }


/* TOP NAV */
.navbar {
  background-color: var(--main);
  height: 70px;
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.navbar h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 400;
}

.navbar a {
  color: white;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--gray);
  width: 400px;
  height: calc(100vh - 70px);
  position: fixed;
  padding: 20px 50px;
  overflow-y: scroll;
}

.sidebar h3 {
  font-weight: 100;
  font-size: 16px;
}

.sidebar button {
  background-color: var(--main);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
  cursor: pointer;
}

.sidebar button:hover {
  opacity: 0.7;
}

.sidebar button img {
  height: 18px;
  margin-right: 10px;
}

/* SONG PREVIEW */
.song-preview {
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.song-preview:hover {
  opacity: 0.7;
}

.song-preview img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-right: 20px;
}


.preview-details h2 {
  font-weight: 400;
  font-size: 16px;
}

.preview-details h3 {
  font-size: 16px;
}

/* CONTENT */
.content {
  margin-left: 400px;
  width: calc(100vw - 400px);
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

/* SONG DETAILS */
.img-blur {
  width: 100%;
  height: 350px;
  position: relative;
}

.img-blur-overlay {
  /* filter: blur(50px); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.small-img {
  position: absolute;
  height: 250px;
  width: 250px;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.song-info {
  width: 250px;
  margin: 20px auto;
}

.song-info button {
  width: fit-content;
  background-color: var(--gray);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  color: black;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s ease;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.song-info button:hover {
  opacity: 0.7;
}

.title {
  font-weight: 400;
}

.artist {
  margin-top: 5px;
}

.album {
  margin-top: 5px;
  opacity: 0.8;
}

/* ADD SONG */
.add-song form {
  width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.add-song h2 {
  margin-bottom: 20px;
}

.add-song form label {
  margin-bottom: 4px;
}

.add-song form input {
  margin-bottom: 10px;
  padding: 5px;
}

.add-song form input[type="file"] {
  padding-left: 0;
}

.add-song button {
  width: fit-content;
  background-color: var(--gray);
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  color: black;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
}

.add-song button:hover {
  opacity: 0.7;
}
